@using blog.Models;
@model IEnumerable<Post>

@{
    ViewBag.Title = "Index";
    bool isPreviousLinkVisible = ViewBag.IsPreviousLinkVisible ?? false;
    bool isNextLinkVisible = ViewBag.IsNextLinkVisible ?? false;
    bool isAdmin = ViewBag.isAdmin ?? false;
}

@foreach (Post post in Model)
{
    @PostHelper.Render(post, Html, isAdmin, false)
    
}
    
@if (isPreviousLinkVisible)
{
    <a id="previousLink" href="@Href("~/Post/Index/" + (ViewBag.PageNumber - 1))">&lt; Предыдущая страница </a>
}

@if (isNextLinkVisible)
{
    <a id="nextLink" href="@Href("~/Post/Index/" + (ViewBag.PageNumber + 1))"> Следующая страница &gt;</a>
}